
<form>
    <mat-form-field appearance="fill">
        <mat-label>Label</mat-label>
        <input 
            matInput 
            type="text" 
            placeholder="Enter Your name..."
            (keyup) = "onKeyUp($event)"
            [(ngModel)]="inputName"
            name = "lswn"
            >
    </mat-form-field>
</form>

<p *ngIf="showOrNot; else otherMent"  > 
    Welcome, {{ inputName }}
</p>

<button
    mat-raised-button
    color="primary"
    [disabled]= "inputName == ''"
    (click)="onClick()"
    >
Submit
</button>


<ng-template #otherMent>
    <p>Please Enter your name</p>
</ng-template>
